    @font-face {
        font-family: 'Proxima Nova';
        src: url('../fonts/ProximaNova-Regular.eot');
        src: local('../fonts/Proxima Nova Regular'), local('../fonts/ProximaNova-Regular'),
            url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/ProximaNova-Regular.woff') format('woff'),
            url('../fonts/ProximaNova-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }


/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
    text-decoration: none;
} 

body{
    font-family: 'Alegreya', serif;

    
}

/* fonts
font-family: 'Scriptina', arial;
fonts */


/* Page */
.page {
    overflow: hidden;
    width: 1600px;   
    margin: 0 auto; /*выровниваем по центру*/
}


/*----------------------nav-----------------------------*/
.nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    
    height: 70px;
    background-color: rgba(86, 83, 76, 0.529);
}

.nav__box {
    width: 100%;
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  
/*----------------------nav-----------------------------*/

.nav__logo{
    color: #ffffff;
    font-family: "Scriptina";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    letter-spacing: 9px;
    line-height: normal;
    cursor: pointer;
}

/*-------------------------nav__menu--------------------------*/
.nav__menu ul{
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.nav__menu ul li{
    list-style-type: none;
    margin: 0 10px;    
    font-family: "Alegreya";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}
/*-------------------------nav__menu--------------------------*/

/*----------------------nav__social-----------------------------*/

.nav__social ul{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.nav__social ul li{
    list-style-type: none;
    margin: 0 10px; 
    cursor: pointer; 
}
.fab{
    color: #ffffff;
    font-size: 16px;
}    
.fab:hover{
    color: #2ac2c8;
}


/*-------------------------nav__social--------------------------*/
/*----------------------border-----------------------------*/
.border{
    color:#ffffff;
    height: 900px;
    background: #252e30 url("../img/border.jpg") center no-repeat;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 105px;
    z-index: 1;
}
.bg_shadow{
    /* Style for "bg_shadow" */
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 939px;
    height: 897px;
    /* background-color: #834f4e; */
    background-image: radial-gradient(circle 457px at center, #564f4c 0%, rgba(88, 87, 85, 0) 100%);    
    z-index: 2;
}

.border__box{      
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    min-height: 940px;
    position: relative;
    align-items: center;
   /*  -webkit-background-size: cover; */
   z-index: 3;
}
.border__title{
    text-shadow: 0 1px 0 #3d3029;
    color: #ffffff;   
    font-family: 'Playfair Display', serif;
    font-size: 92px;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;   
    letter-spacing: 6.9px;
}

.border__dashed-lin{
    padding: 56px 0 71px;
    color: #ffffff;
}
.border__text{   
    width: 544px;
    text-shadow: 0 1px 0 #3d3029;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 36px;
    letter-spacing: 2.4px;
    padding-bottom: 70px;
    
}

.border__btn{
    font-size: 14px;
    font-family: "Alegreya";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    border-width: 1px;
    border-color: rgb(158, 156, 147);
    border-style: dashed;
    background-color: rgba(86, 83, 76, 0.529);
    width: 200px;
    height: 50px;
    line-height: 24px;        
    letter-spacing: 4.2px;    
    outline: none; /*убирает черный бордер при клике по кнопке*/ 
    cursor: pointer;
}
      
.border__vektor-smartobjekt{
    position: absolute ;
    left:50%;
    bottom: -65px;
    z-index: 100;          
 }
/*----------------------border-----------------------------*/
/*----------------------cakes-----------------------------*/
.cakes{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 105px;

}
.cakes__box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cakes__info{
    display: flex;
    flex-direction: column; /* CSS свойство , указывающее на то,как flex-элементы располагаются во flex-контейнере по главной оси и направлению (normal или reversed).*/
    justify-content: center;
    align-items: center;
    flex: 0.45;
}
.cakes__title{
    text-align: center;
}
.cakes__title h2{
    font-size: 48px;
    font-family: "Alegreya";
    color: rgb(86, 83, 76);
    font-weight: bold;
    line-height: 0.625;
    padding-bottom: 22px;      
}
.cakes__title p{
    color: #a47d5e;
    font-family: Alegreya;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 70px;
}
.blockquote{
    width: 484px;
    font-size: 14px;
    font-family: "Proxima Nova";
    color: rgb(86, 83, 76);
    line-height: 1.714;
    padding-bottom: 45px;  
    text-align: justify; /* Выравнивание по ширине */  
}


.cakes__title h3{
    color: #56534c;
    font-family: Alegreya;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.6px;
    padding-bottom: 50px;

}




.cakes__cook{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /*  padding-bottom: 45px; */
}

.cook__name{
    font-size: 24px;
    font-family: "Alegreya";
    color: rgb(86, 83, 76);
    line-height: 1.25;
    text-align: left;
    padding-right: 47px;
    border-bottom: 1px solid #d7d5ca;    
    border-top: 1px solid #d7d5ca;    
}
.cook__surname{
    font-size: 24px;
    font-family: "Alegreya";
    color: rgb(86, 83, 76);
    line-height: 1.25;
    text-align: l;
    padding-left: 47px;  
    border-bottom: 1px solid #d7d5ca;    
    border-top: 1px solid #d7d5ca;   
}


.quote__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote__left{
    padding: 0 63px 63px 0 ;
}
.quote__right{
    padding: 63px 0 0 63px ;
    
}
.quote__text{
        font-size: 24px;
        font-family: "Scriptina";
        color: #a47d5e;
        text-align: center;
        width: 236px;
        height: 57px;
        line-height: 30px;
}

.cakes__napkin{
    position: absolute;
    width: 247px;
    height: 247px;
/*     box-shadow: 0 14px 18px #3b251d;
    background-image: linear-gradient(-16deg, rgba(242, 237, 233, 0.96) 0%, rgba(255, 255, 255, 0.96) 100%); */
    background: url("../img/napkin.png") center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    

}


.napkin__title{
    color: #c9b176;
    font-family: Alegreya;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


.cakes___items{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    align-items: center;
    flex: 0.55;
   
    position: relative;
}
.cakes___item{
    position: relative;
    margin: 10px;
}

.cakes___item:nth-child(1){
    margin: 0px 10px 10px 0;
}
.cakes___item:nth-child(2){
    margin: 0px 0px 10px 10px;
}
.cakes___item:nth-child(3){
    margin: 10px 10px 0px 0;
}
.cakes___item:nth-child(4){
    margin: 10px 0px 0px 10px;
}




.cakes___border{
    position: absolute;
    /* Style for "border" */
    width: 283px;
    height: 238px;
    border: 5px solid #ffffff;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}



/*----------------------cakes-----------------------------*/
/*----------------------recipes-----------------------------*/
.recipes{
    color:#ffffff;
    height: 760px;
    background: #252e30 url("../img/recipes.jpg") center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */

}   
.recipes__box{
    width: 970px;   
    position: relative; 
    display: flex;
/*     justify-content: space-between;
    align-items: center; */
}


.recipes__items{
    display: flex;
    align-items: center;
    flex-direction: column; /* CSS свойство , указывающее на то,как flex-элементы располагаются во flex-контейнере по главной оси и направлению (normal или reversed).*/
    position: relative;
    background-color: #ffffff;
}
.recipes__img{
    width: 420px;
    height: 512px;
    position: relative;
    /* margin-bottom: 20px; */
   
    overflow: hidden;
}
.recipes__img img{
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}
.recipes__stars{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 10%;   
    transform: translate3d(-50%, -50%, 0);   
}
.recipes__stars ul li{
    list-style-type: none; /*Изменяет вид маркера для каждого элемента списка. Это свойство используется только в случае, когда значение list-style-image установлено как none. Маркеры различаются для маркированного списка (тег <ul>) и нумерованного (тег <ol>).*/
}
.recipes__items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.recipes__title{    
    font-size: 48px;
    font-family: "Alegreya";
    color: rgb(86, 83, 76);
    font-weight: bold;
    line-height: 0.625;
    text-align: left;
    padding-top: 80px;      
}
.recipes__subtitle{
    color: #a47d5e;
    font-family: Alegreya;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-align: left;
   /*  padding-bottom: 70px; */
}

.recipes__text{
    font-size: 14px;
    font-family: "Proxima Nova";
    color: rgb(86, 83, 76);
    line-height: 1.714;
    text-align: justify; /* Выравнивание по ширине */    
    letter-spacing: 1.4px;
    padding: 0 85px;

}
  


.recipes__slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 41px;
}
.slider__img{
    width: 90px;
    height: 90px;
    position: relative;
    overflow: hidden;
    border-radius:50% ;
}
.img__item{
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate3d(-50%, -50%, 0);
}
.recipes__mill-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;

}
.slider__img:nth-child(3){
    margin: 0 20px;
}

.slider__left{
    margin-right: 15px;
   /*  align-self: flex-start; */
    cursor: pointer;
    z-index: 1;
}
.slider__right{
    margin-left: 15px;
    /* align-self: flex-end; */
    cursor: pointer;
    z-index: 1;
}

.ready__icon{
    width: 200px;
    height: 200px;;
    position: absolute;
    
    top: -10%;
    right: -20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 
}
.icon-bg{
    background: #ffffff url("../img/ready-icon.png") center no-repeat;  
    -webkit-box-shadow: -15px 25px 40px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: -15px 25px 40px -15px rgba(0,0,0,0.5);
    box-shadow: -15px 25px 40px -15px rgba(0,0,0,0.5);
}



.ready__title{
    color: #a47d5e;
    font-family: Alegreya;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;        
}
.ready__time{
    font-family: Alegreya;
    font-weight: 700;
    color: #dfc691;
    font-size: 92px;
    font-style: normal;
    letter-spacing: 1.8px;
    line-height: normal;
}
.ready__mins{
    color: #979285;
    font-style: normal;
    letter-spacing: 1.8px;
    line-height: normal;
}


/*----------------------recipes-----------------------------*/
/*----------------------breakfast-----------------------------*/
.breakfast{
height: 760px;
background: #252e30 url("../img/breakfast.jpg") center no-repeat;
position: relative;
}
.spike{
    position: absolute;
    bottom: 0;
    right: -50px;
    z-index: 5;
}
.breakfast_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 89px;

}
.breakfast__items{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding-left: 180px;
}

.breakfast__titel{
    color: #ffffff;
    font-family: "Alegreya";
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
    text-align: center;
/* Text style for "Duis ut to" */
}
.breakfast__text{
    font-family: "Proxima Nova";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: normal;
    color: #c2beba;  
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.breakfast__price{
    color: #dfc691;
    font-family: Alegreya;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.8px;
}


.breakfast__item:first-child .breakfast__titel{
    font-size: 60px;
    font-family: "Alegreya";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.5;
    text-align: center;
    padding-bottom: 20px;
}


.breakfast__item:first-child .breakfast__text{
    color: #c8a593;
    font-family: "Alegreya";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.breakfast__menu{
    position: relative;
}
.breakfast__menu-1{
    width: 440px;
    height: 600px;
    background-color: #f3f1e9;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%, 0 95%);
    position: relative;
    z-index: 4;
    display: flex;
    padding: 10px;

}
.breakfast__menu-2{
    width: 402px;
    height: 548px;
    background-color: #d9d6c7;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%, 0 95%);
    position: absolute; 
    top:50%;
    left: 57%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 2;
    display: flex;
    padding: 10px;  
}
.breakfast__menu-3{
    width: 367px;
    height: 501px;
    background-color:#d9d6c7;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%, 0 95%);
    position: absolute;   
    top:50%;
    left: 64%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
    display: flex;
    padding: 10px;   
}

.menu__border{   
    align-self:auto; /*Свойство align-self
    Переопределяет для конкретного flex-элемента выравнивание вдоль поперечной оси (направление зависит от значения свойства flex-direction)*/
    flex-grow:1; /*Определяет возможность элемента увеличиваться в размере, при необходимости заполняя весь flex-контейнер. 0 запрещено. 1 разрешено. */
    border: 1px dashed #9e9c93;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 44px;
}
.breakfast__year{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #56534c;
    font-family: "Alegreya";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;

    line-height: 30px;
    text-align: center;
    text-transform: uppercase;


    letter-spacing: 0.7px;

}

.breakfast__corner{
    position: absolute;
    left: -8px;
    bottom: -15px;
}
.menu__border h1{
    color: #56534c;
    font-family: "Alegreya";
    font-size: 44px;
    font-weight: 700;
    font-style: normal;
    line-height: 60px;
    text-align: center;
    letter-spacing: 1.1px;
    margin: 0 40px;
    padding-bottom: 43px;
}

.menu__border h2{
    color: #56534c;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.7px;
    margin: 0 40px;
    padding-bottom: 74px;
}

.breakfast__btn{
    width: 190px;
    height: 50px;
    border: 1px solid #9e9c93;
    color: #a47d5e;
    font-family: "Alegreya";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;    
    line-height: 30px;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 0.9px;
    background-color: transparent; /*устанавливает прозрачный фон кнопке*/
    cursor: pointer;
   
}
.breakfast__img{
    padding-bottom: 30px;
}

/*----------------------breakfast-----------------------------*/
/*----------------------sandwich-----------------------------*/
.sandwich{
    background-color: #f3f1e9;
}
.sandwich__heading{
    width: 1260px;
    margin: 0 auto;
    position: relative;
}
.sandwich__logo{
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -0%, 0);
}

.sandwich__title{
    font-family: "Alegreya";
    font-weight: 700;
    color: #56534c;
    font-size: 48px;
    font-style: normal;
    letter-spacing: 1.2px;
    line-height: normal;
    text-align: center;
    padding-top: 100px;
}
.sandwich__text{
    font-style: normal;
    letter-spacing: 1.4px;
    line-height: normal;
    color: #a47d5e;
    font-family: "Alegreya";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;    
}
.sandwich__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sandwich__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 57px;
    width: 310px;
    
}
.item__img{
    width: 100px;
    height: 100px;    
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 21px;    
}

.item__img img{
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    background-size:cover;
    transform: translate3d(-50%, -50%, 0);    
}
.item__title{
    color: #a47d5e;
    font-family: "Alegreya";
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.75px;
    margin-bottom: 23px;
}
.item__text{
    color: #56534c;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.4px;
    padding-bottom: 57px;
}
.sandwich__item:last-child{
    margin-bottom: 0;
}
.sandwich__recipe{
    width: 840px;
    height: 560px;
/*     border: 10px solid #ffffff; */    
}
.recipe__img{
    object-fit: cover; /*Сохранение соотношения сторон контента, но изменение его ширины и высоты. Таким образом, контент полностью покрывает элемент. Меньшая из двух сторон изменяется до размеров контейнера, а большая – выходит за рамки элемента и обрезается.
    https://css-live.ru/articles/znakomstvo-s-object-fit.html*/
    height: 100%;
    width: 100%;
    border: 10px solid #ffffff;
    -webkit-box-shadow: 0px 14px 13px 0px rgba(232,228,212,1);
    -moz-box-shadow: 0px 14px 13px 0px rgba(232,228,212,1);
    box-shadow: 0px 14px 13px 0px rgba(232,228,212,1);
}

.recipe__box{
    position: relative;
}
.recipe__time{
    display: flex;
    flex-direction: column;
    justify-content: center;
  /*   max-width: 100%; */
    position: absolute;
    top: 50%;
    right: 0%;
    z-index: 1;
    transform: translate3d(0%, -50%, 0);
}
.ready__icon:first-child{
    margin-bottom: 1px;;
}

.recipe__time .ready__icon{
    position: static;
    background-color: #ffffff;
    box-shadow: none;
}
.recipe__time .ready__icon:nth-child(-n+2){
    opacity: 0.8;
}


.recipe__time .ready__icon:nth-child(-n+2) .ready__title{
    font-family: "Alegreya";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;   
}
.recipe__time .ready__icon:nth-child(-n+2) .ready__time{
    font-family: "Alegreya";
    font-weight: 700;
    color: #56534c;
    font-size: 60px;
    font-style: normal;
    letter-spacing: 6px;
    line-height: normal;
   
}
.recipe__time .ready__icon:nth-child(-n+2) .ready__mins{
    font-family: "Alegreya";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #979285;
    letter-spacing: 1.8px;
    line-height: normal;    
}
.recipe__time .ready__icon.icon-bg{
    -webkit-box-shadow: 0px 14px 13px 0px rgba(232,228,212,1);
    -moz-box-shadow: 0px 14px 13px 0px rgba(232,228,212,1);
    box-shadow: 0px 14px 13px 0px rgba(232,228,212,1);
}

.recipe_btn{
    width: 171px;
    height: 60px;
    border: 1px dashed #dfc691;
    background-color: #ffffff;
    position: absolute;
    bottom: -3%;
    left: -5%;
    z-index: 1;
   /*  transform: translate3d(-50%, -50%, 0); */
   /* Style for "FULL RECIP" */

    color: #dfc691;
    font-family: "Alegreya";
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.9px;
    outline: none; /*убирает черный бордер при клике по кнопке*/
    cursor: pointer; 

}

/*----------------------sandwich-----------------------------*/
/*----------------------footer-----------------------------*/
.footer{
    background-color: #f3f1e9;
}
.footer__box{
    width: 100%;
    max-width: 1200px;
    height: 240px;
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.footer__logo{
    color: #56534c;
    font-family: "Scriptina";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    text-align: left;
    letter-spacing: 9px;
    cursor: pointer;
}


.footer__menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #c2beba;
    border-top: 1px solid  #c2beba;
    padding: 0 50px;
}
.footer__menu ul{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 30px 0;
}
.footer__menu ul li{
    list-style-type: none;
    margin: 0 10px;    
    font-family: "Alegreya";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #56534c;
    cursor: pointer;
    letter-spacing: 4.2px;
    -webkit-box-shadow: -8px 7px 91px -14px rgba(243, 241, 233,1);
    -moz-box-shadow: -8px 7px 91px -14px rgba(243, 241, 233,1);
    box-shadow: -8px 7px 91px -14px rgba(243, 241, 233,1);
}

/*----------------------footer-----------------------------*/


